
<div class="services">
{% for service in page.services %}
    <div class="service-item">
    {% if service.title %}
        <h3 class="service-title">{{ service.title }}</h3>
    {% endif %}
    {% if service.description %}
        <p class="service-description">{{ service.description }}</p>
    {% endif %}
    {% if service.link %}
        <a href="{{ service.link }}" class="service-link" target="_blank" rel="noopener noreferrer">Learn more</a>
    {% endif %}
    </div>
{% endfor %}
</div>
