---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "panels",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.thumbnail {
  // Remove or comment out the following lines:
  // box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  // -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  // -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  
  // Add this line if you want a simple border instead:
  border: 1px solid #ddd;
}

a,
table.table a {
  border-bottom: 0 !important;
  box-shadow: none !important;
  color: var(--global-theme-color);
  text-decoration: none !important;
}

a:hover,
table.table a:hover {
  border-bottom: 0 !important;
  box-shadow: none !important;
  color: var(--global-hover-color);
  text-decoration: none !important;
}

.publications ol.bibliography .author > em {
  border-bottom: 0 !important;
  font-style: normal;
  text-decoration: underline !important;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
